# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# VS Code
.vscode/

# Model files (IMPORTANT)
*.pth

# Dataset
data/
dataset/

# Temporary files
*.log
